<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <appSettings>
      <add key="defaultOutputFileName" value="bets.bin" />
      <add key="defaultOutputDirectory" value="data" />
      <add key="testBetDataValuePattern" value="[A-Za-z\.0-9]+"/>
      <add key="legalTracknameKeys" value="[A-Za-z\,\'\s\b]"/>
      <add key="legalMoneyKeys" value="[0-9\.\b]"/>
      
      <add key="SplitNumberPattern" value="\D+"/>
      <add key="MoneyCharsPattern" value="[\d.]"/>
    </appSettings>
</configuration>